# Copyright Red Hat
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dex-operator
  namespace: "idp-mgmt-dex"
  labels:
    control-plane: dex-operator
spec:
  selector:
    matchLabels:
      control-plane: dex-operator
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: dex-operator
        idp-antiaffinity-selector: dex-operator
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: idp-antiaffinity-selector
                      operator: In
                      values:
                        - dex-operator
                topologyKey: topology.kubernetes.io/zone
              weight: 70
            - podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: idp-antiaffinity-selector
                      operator: In
                      values:
                        - dex-operator
                topologyKey: kubernetes.io/hostname
              weight: 35
      securityContext:
        runAsNonRoot: true
      containers:
      - args:
        - --leader-elect
        image: {{ .Image }}
        imagePullPolicy: Always
        name: manager
        env:
        - name: RELATED_IMAGE_DEX
          value: {{ .DexServerImage }}
        securityContext:
          allowPrivilegeEscalation: false
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 300m
            memory: 500Mi
          requests:
            cpu: 300m
            memory: 500Mi
      serviceAccountName: dex-operator-manager
      terminationGracePeriodSeconds: 10
      tolerations:
        - key: node-role.kubernetes.io/infra
          operator: Exists
          effect: NoSchedule
        - key: dedicated
          operator: Exists
          effect: NoSchedule
      
