apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
    categories: Integration & Delivery
    operatorframework.io/initialization-resource: '{"apiVersion":"identityconfig.identitatem.io/v1alpha1",
      "kind":"IDPConfig","metadata":{"name":"idp-config","namespace":"idp-mgmt-config"},
      "spec": {}}'
    operatorframework.io/suggested-namespace: idp-mgmt-config
    operators.openshift.io/valid-subscription: '["Red Hat Advanced Cluster Management
      for Kubernetes", "multicluster engine for Kubernetes"]'
    operators.operatorframework.io/builder: operator-sdk-v1.15.0+git
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v2
  name: idp-mgmt-operator.v0.0.1
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions: {}
  description: |
    Identity configuration management for Kubernetes enhances the capabilities of Red Hat Advanced Cluster Management for Kubernetes or the multicluster engine for Kubernetes by enabling OpenShift administrators to define their identity provider configuration once in the management hub cluster.  Using simple placement rules, that same configuration can be used across multiple clusters within the fleet.

    A valid Red Hat software subscription is required since this operator has a prerequisite of Red Hat Advanced Cluster Management for Kubernetes or multicluster engine for Kubernetes.

    **IMPORTANT** - The identity configuration management for Kubernetes is a Technology Preview feature only. Technology Preview features are not supported with Red Hat production service level agreements (SLAs) and might not be functionally complete. Red Hat does not recommend using them in production. These features provide early access to upcoming product features, enabling customers to test functionality and provide feedback during the development process. For more information about the support scope of Red Hat Technology Preview features, see [https://access.redhat.com/support/offerings/techpreview/](https://access.redhat.com/support/offerings/techpreview/).

    ## How to Install
    Install the identity configuration management for Kubernetes operator by following instructions presented when you click the `Install` button. After installing the operator, create an instance of the `IDPConfig` resource to install the necessary components that provide the management APIs.

    You can find additional installation guidance in the [documentation](https://identitatem.github.io/idp-mgmt-docs/).
  displayName: identity configuration management for Kubernetes
  icon:
  - base64data: PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3MjEuMTUgNzIxLjE1Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2RiMzkyNzt9LmNscy0ye2ZpbGw6I2NiMzYyODt9LmNscy0ze2ZpbGw6I2ZmZjt9LmNscy00e2ZpbGw6I2UzZTNlMjt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPlByb2R1Y3RfSWNvbi1SZWRfSGF0QWR2YW5jZWRfQ2x1c3Rlcl9NYW5hZ2VtZW50X2Zvcl9LdWJlcm5ldGVzLVJHQjwvdGl0bGU+PGcgaWQ9IkxheWVyXzEiIGRhdGEtbmFtZT0iTGF5ZXIgMSI+PGNpcmNsZSBjbGFzcz0iY2xzLTEiIGN4PSIzNjAuNTciIGN5PSIzNjAuNTciIHI9IjM1OC41OCIvPjxwYXRoIGNsYXNzPSJjbHMtMiIgZD0iTTYxNC4xMywxMDcsMTA3LDYxNC4xM2MxNDAsMTQwLDM2Ny4wNywxNDAsNTA3LjExLDBTNzU0LjE2LDI0Ny4wNiw2MTQuMTMsMTA3WiIvPjxyZWN0IGNsYXNzPSJjbHMtMyIgeD0iMzMwLjg3IiB5PSIyODAuNiIgd2lkdGg9IjIwMy4xNyIgaGVpZ2h0PSIyMCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTc4LjkgMzkwLjUyKSByb3RhdGUoLTQ0Ljk2KSIvPjxyZWN0IGNsYXNzPSJjbHMtMyIgeD0iMzA2LjYzIiB5PSIxNjcuODMiIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMDQuNDciIHRyYW5zZm9ybT0idHJhbnNsYXRlKC04NS4zMyAxNjIuMjcpIHJvdGF0ZSgtMjUuNDUpIi8+PHJlY3QgY2xhc3M9ImNscy0zIiB4PSIxNjIuOTgiIHk9IjM2NC4xIiB3aWR0aD0iMTk4LjI4IiBoZWlnaHQ9IjIwIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNDIuMzkgMzMuNjEpIHJvdGF0ZSgtNi43OSkiLz48cmVjdCBjbGFzcz0iY2xzLTMiIHg9IjI0NS4xIiB5PSI0NTEuNTQiIHdpZHRoPSIyMDAuNjIiIGhlaWdodD0iMjAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xNjMuMDEgNzMzLjI2KSByb3RhdGUoLTgxLjMxKSIvPjxyZWN0IGNsYXNzPSJjbHMtMyIgeD0iNDQzLjg1IiB5PSIzMDMuNzYiIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMDcuMDQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMDkuOTcgNjM5LjU4KSByb3RhdGUoLTY0LjMpIi8+PGNpcmNsZSBjbGFzcz0iY2xzLTMiIGN4PSI1MDQuMzQiIGN5PSIyMTguODMiIHI9IjQ0LjA4Ii8+PGNpcmNsZSBjbGFzcz0iY2xzLTMiIGN4PSIyNzIuNyIgY3k9IjE3Ny43NSIgcj0iNDQuMDgiLz48Y2lyY2xlIGNsYXNzPSJjbHMtMyIgY3g9IjU0Ny4xMiIgY3k9IjQ1Mi4xNyIgcj0iNDQuMDgiLz48Y2lyY2xlIGNsYXNzPSJjbHMtMyIgY3g9IjE2My42OCIgY3k9IjM4NS44MiIgcj0iNDQuMDgiLz48Y2lyY2xlIGNsYXNzPSJjbHMtMyIgY3g9IjMzMC4yNiIgY3k9IjU2MC43IiByPSI0NC4wOCIvPjxwYXRoIGNsYXNzPSJjbHMtNCIgZD0iTTQ0NC45NCwyNzkuOTIsMjc2LjE5LDQ0OC42N0ExMTkuMzIsMTE5LjMyLDAsMCwwLDQ0NC45NCwyNzkuOTJaIi8+PHBhdGggY2xhc3M9ImNscy0zIiBkPSJNMzc1LjY4LDI0NS43NmExMTkuMzMsMTE5LjMzLDAsMCwwLTk5LjQ5LDIwMi45MUw0NDQuOTQsMjc5LjkyQTExOC44OSwxMTguODksMCwwLDAsMzc1LjY4LDI0NS43NloiLz48L2c+PC9zdmc+
    mediatype: image/svg+xml
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - configmaps
          - secrets
          - serviceaccounts
          verbs:
          - create
          - get
          - list
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - namespaces
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - namespaces
          - pods
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - secrets
          verbs:
          - create
          - delete
          - get
        - apiGroups:
          - ""
          resources:
          - serviceaccounts
          - services
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - ""
          - events.k8s.io
          resources:
          - events
          verbs:
          - create
          - patch
          - update
        - apiGroups:
          - admissionregistration.k8s.io
          resources:
          - validatingwebhookconfigurations
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - apiextensions.k8s.io
          resources:
          - customresourcedefinitions
          verbs:
          - create
          - delete
          - get
          - update
        - apiGroups:
          - apiregistration.k8s.io
          resources:
          - apiservices
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - apps
          resources:
          - deployments
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - auth.identitatem.io
          resources:
          - dexclients
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - auth.identitatem.io
          resources:
          - dexclients
          - dexclients/status
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - auth.identitatem.io
          resources:
          - dexservers
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - auth.identitatem.io
          resources:
          - dexservers/status
          verbs:
          - update
        - apiGroups:
          - cluster.open-cluster-management.io
          resources:
          - managedclusters
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - cluster.open-cluster-management.io
          resources:
          - placementdecisions
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - cluster.open-cluster-management.io
          resources:
          - placementdecisions/finalizer
          verbs:
          - create
          - delete
          - patch
          - update
        - apiGroups:
          - cluster.open-cluster-management.io
          resources:
          - placements
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - config.openshift.io
          resources:
          - infrastructures
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - identityconfig.identitatem.io
          resources:
          - authrealms
          verbs:
          - get
          - list
          - update
          - watch
        - apiGroups:
          - identityconfig.identitatem.io
          resources:
          - authrealms
          - strategies
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - identityconfig.identitatem.io
          resources:
          - authrealms/finalizers
          verbs:
          - create
          - delete
          - patch
          - update
        - apiGroups:
          - identityconfig.identitatem.io
          resources:
          - authrealms/status
          verbs:
          - patch
          - update
        - apiGroups:
          - identityconfig.identitatem.io
          resources:
          - clusteroauths
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - identityconfig.identitatem.io
          resources:
          - clusteroauths/finalizers
          verbs:
          - create
          - delete
          - patch
          - update
        - apiGroups:
          - identityconfig.identitatem.io
          resources:
          - clusteroauths/status
          verbs:
          - patch
          - update
        - apiGroups:
          - identityconfig.identitatem.io
          resources:
          - idpconfigs
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - identityconfig.identitatem.io
          resources:
          - strategies
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - identityconfig.identitatem.io
          resources:
          - strategies/finalizers
          verbs:
          - create
          - delete
          - patch
          - update
        - apiGroups:
          - identityconfig.identitatem.io
          resources:
          - strategies/status
          verbs:
          - patch
        - apiGroups:
          - multicluster.openshift.io
          resources:
          - multiclusterengines
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - operator.open-cluster-management.io
          resources:
          - multiclusterhubs
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - clusterrolebindings
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - clusterrolebindings
          - rolebindings
          - roles
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - clusterroles
          verbs:
          - bind
          - create
          - delete
          - escalate
          - get
          - list
          - update
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - rolebindings
          verbs:
          - create
          - delete
          - get
          - update
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - roles
          verbs:
          - bind
          - create
          - delete
          - escalate
          - get
          - update
        - apiGroups:
          - view.open-cluster-management.io
          resources:
          - managedclusterviews
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - work.open-cluster-management.io
          resources:
          - manifestworks
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        serviceAccountName: idp-mgmt-installer-controller-manager
      deployments:
      - name: idp-mgmt-installer-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              labels:
                control-plane: controller-manager
                idp-antiaffinity-selector: idp-mgmt-installer-controller
            spec:
              affinity:
                podAntiAffinity:
                  preferredDuringSchedulingIgnoredDuringExecution:
                  - podAffinityTerm:
                      labelSelector:
                        matchExpressions:
                        - key: idp-antiaffinity-selector
                          operator: In
                          values:
                          - idp-mgmt-installer-controller
                      topologyKey: topology.kubernetes.io/zone
                    weight: 70
                  - podAffinityTerm:
                      labelSelector:
                        matchExpressions:
                        - key: idp-antiaffinity-selector
                          operator: In
                          values:
                          - idp-mgmt-installer-controller
                      topologyKey: kubernetes.io/hostname
                    weight: 35
              containers:
              - args:
                - installer
                env:
                - name: RELATED_IMAGE_DEX_OPERATOR
                  value: quay.io/identitatem/dex-operator:0.3.3-20220509-18-32-00
                - name: RELATED_IMAGE_DEX_SERVER
                  value: ghcr.io/dexidp/dex:v2.30.2
                - name: POD_NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.name
                - name: POD_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.namespace
                image: quay.io/identitatem/idp-mgmt-operator:latest
                imagePullPolicy: Always
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                    scheme: HTTP
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: installer
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                    scheme: HTTP
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    cpu: 300m
                    memory: 500Mi
                  requests:
                    cpu: 50m
                    memory: 150Mi
              securityContext:
                runAsNonRoot: true
              serviceAccountName: idp-mgmt-installer-controller-manager
              terminationGracePeriodSeconds: 10
              tolerations:
              - effect: NoSchedule
                key: node-role.kubernetes.io/infra
                operator: Exists
              - effect: NoSchedule
                key: dedicated
                operator: Exists
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: false
    type: AllNamespaces
  keywords:
  - idp-mgmt-operator
  - authrealm
  - oauth
  links:
  - name: Documentation
    url: https://identitatem.github.io/idp-mgmt-docs/
  maintainers:
  - email: acm-contact@redhat.com
    name: Red Hat
  maturity: alpha
  provider:
    name: Red Hat
    url: https://github.com/identitatem
  replaces: idp-mgmt-operator.v0.3.3
  version: 0.0.1
