# Copyright Contributors to the Open Cluster Management project

name: Go

on:
  push:
    branches: [ main, release-* ]
  pull_request:
    branches: [ main, release-* ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Install kubebuilder
      uses: RyanSiu1995/kubebuilder-action@v1.2
      with:
        version: 2.3.0        

    - name: Functional Tests
      run: make functional-test-full

    - if:  ${{ failure() }}
      name: Logs after Tests Failed
      run: KUBECONFIG=kind_kubeconfig.yaml kubectl logs  -n open-cluster-management `KUBECONFIG=kind_kubeconfig.yaml kubectl get po -n identitatem -oname | grep idp-mgmt-operator`
